@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.custom-box-shadow {
    box-shadow: 0 10px 0 #a30e0e;
  }
  
  .custom-box-shadow:hover {
    box-shadow: 0 7px 0 #a30e0e; /* Slightly raised on hover */
  }
  
  .custom-box-shadow:active {
    box-shadow: 0 0px 0 #a30e0e; /* Pressed down effect */
  }
  
.custom-box-shadow2 {
box-shadow: 0 10px 0 #d4d4d4;
}

.custom-box-shadow2:hover {
box-shadow: 0 7px 0 #d4d4d4; /* Slightly raised on hover */
}

.custom-box-shadow2:active {
box-shadow: 0 0px 0 #d4d4d4; /* Pressed down effect */
}
  
.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}